<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vessel Dispensary</title>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/app.min.css">
		<!-- FONT(S) -->
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:700" rel="stylesheet">
	</head>
	<body>
		<!-- CONTAINER -->
		<div class="container nav-about">
			<!-- HEADER -->
			<header class="header">
					<a class="menu-toggle menu-toggle--top">
						<div class="menu-toggle-container">
							<span class="menu-toggle__line-0"></span>
							<span class="menu-toggle__line-1"></span>
							<span class="menu-toggle__line-2"></span>
						</div>
					</a>
					<a class="menu-toggle menu-toggle--left">
						<div class="menu-toggle-container">
							<span class="menu-toggle__line-0"></span>
							<span class="menu-toggle__line-1"></span>
							<span class="menu-toggle__line-2"></span>
						</div>
					</a>
					<nav class="nav">
						<a class="nav__button nav__button-up">
							<svg class="nav__button-arrow nav__button-arrow-up" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40">
								<polygon points="0,30 20,10 40,30"/>
							</svg>
						</a>
						<div class="nav__indicator-container">
							<span class="nav__indicator nav__indicator-0"></span>
							<span class="nav__indicator nav__indicator-1"></span>
							<span class="nav__indicator nav__indicator-2"></span>
							<span class="nav__indicator nav__indicator-3"></span>
							<span class="nav__indicator nav__indicator-4"></span>
							<span class="nav__indicator nav__indicator-5"></span>
						</div>
						<a class="nav__button nav__button-down">
							<svg class="nav__button-arrow nav__button-arrow-down" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 40 40">
								<polygon points="0,10 20,30 40,10"/>
							</svg>
						</a>
					</nav>
					<a class="pop-up__exit">
						<div class="pop-up__exit-container">
							<span class="pop-up__exit-line-0"></span>
							<span class="pop-up__exit-line-1"></span>
						</div>
					</a>
			</header>

			<!-- MENU -->
			<div class="menu">
				<nav class="menu-nav">
					<ul>
						<li class="menu-nav__item">
							<a class="menu-nav__link" href="#about">About</a>
						</li>
						<li class="menu-nav__item">
							<a class="menu-nav__link" href="#store-menu">Menu</a>
						</li>
						<li class="menu-nav__item">
							<a class="menu-nav__link" href="#location">Location</a>
						</li>
						<li class="menu-nav__item">
							<a class="menu-nav__link" href="#contact">Contact</a>
						</li>
					</ul>
				</nav>

				<ul class="menu-social">
					<li class="menu-social__item">
						<a class="menu-social__link social-media" href="https://www.instagram.com/vesseldispensary/"></a>
					</li>
					<li class="menu-social__item">
						<a class="menu-social__link social-media" href="https://www.facebook.com/Vessel-Portland-367316486805669/"></a>
					</li>
				</ul>

				<div class="menu-credit">
					<p class="menu-credit__copy author-credit">&copy;Vessel 2017 // Website by <a class="author-credit__link" href="http://www.jumastevens.com/" rel="external">Juma Stevens</a></p>
				</div>
			</div>

			<!-- MENU COLOR -->
			<div class="menu-color">
			</div>

			<!-- LOADER -->
			<div class="loader">
				<div class="logo loader__logo">
					<svg class="logo__svg loader__logo-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
					</svg>
				</div>
			</div>

			<!-- APP -->
			<div class="app">
				<div class="page-container">
					<div class="main-page">
						
						<!-- about -->
						<section class="about section-container" id="about">
							<img class="section-image about__image" src="../images/image_0.jpg">
							<article class="about__content">
								<div class="logo about__logo">
									<svg class="logo__svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">
									</svg>
									<h1 class="logo__header">Vessel</h1>
									<p class="logo__subtext">Cannabis dispensary<span class="logo__subtext--color"> Portland, Or</span></p>
								</div>
								<p class="about__copy">Vessel is a new OMMP Dispensary serving medical and recreational customers in NW Portland. Our mission is to provide high quality medicine at great prices in a very unique shop. We carry outdoor and indoor flower, with several organic choices. We also carry a number of edibles, vaporizers, glass waterpipes, and CBD products. Our knowledgeable patient care representatives will help you find the best medicine for you, guaranteed. At Vessel you can take your time to find the perfect medicine, you don't have to rush!</p>
							</article>
						</section>

						<!-- hightlights -->
						<section class="highlights section-container">
							<article class="highlights__content">
								<h2 class="highlights__header">Highlights</h2>
								<ul class="highlights__list">
									<li class="highlights__item">
										<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<p class="highlights__copy">All grass coming from our farm is Clean Green Certified, meaning no chemicals! Ever!</p>
									</li>
									<li class="highlights__item">
										<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<p class="highlights__copy">Our budtenders make it their top priority to help you find the perfect product for your needs.</p>
									</li>
									<li class="highlights__item">
										<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<p class="highlights__copy">We may be a tiny boutique, but we carry the best quality products at a affordable price.</p>
									</li>
								</ul>
							</article>
						</section>

						<!-- store-menu -->
						<section class="store-menu section-container" id="store-menu">
							<img class="section-image store-menu__image" src="../images/image_1.jpg">
							<article class="store-menu__content">
								<h2 class="store-menu__header">Menu</h2>
								<p class="store-menu__header-subtext">Updated daily</p>
								<a class="store-menu__leafly-refresh"></a>
								<iframe class="store-menu__leafly"></iframe>
							</article>
						</section>

						
						
						<div class="location__map-container">
							<div class="location__map" id="map"></div>
						</div>

						<!-- location -->
						<section class="location section-container" id="location">
							<article class="location__content">
								<h2 class="location__header">Location</h2>
								<ul class="location__list">
									<li class="location__item">
										<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<div class="location__copy-container">
											<h3 class="location__sub-header">Hours</h3>
											<p class="location__copy">Open everyday. 11:00am - 7:00pm.</p>
										</div>
									</li>
									<li class="location__item">
										<svg class="location__parking list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<span class="location__copy-container">
											<h3 class="location__sub-header">Parking</h3>
											<p class="location__copy">Free on-site parking lot.</p>
										</span>
									</li>
									<li class="location__item">
										<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
										<span class="location__copy-container">
											<h3 class="location__sub-header">Address</h3>
											<p class="location__copy">1979 NW Vaughn Portland, OR 97209</p>
										</span>
									</li>
								</ul>
							</article>
						</section>

						<!-- contact -->
						<section class="contact section-container" id="contact">
							<img class="section-image contact__image" src="../images/image_2.jpg">
							<h2 class="contact__header">Contact</h2>
							<form class="contact__form">
								<h3 class="contact__form-header">Message Us!</h3>
								<div class="contact__form-group">      
									<input class="contact__form-input" type="text" required>
									<span class="contact__form-highlight"></span>
									<span class="contact__form-bar"></span>
									<label class="contact__form-label">Name</label>
								</div>

								<div class="contact__form-group">      
									<input class="contact__form-input" type="text" required>
									<span class="contact__form-highlight"></span>
									<span class="contact__form-bar"></span>
									<label class="contact__form-label">Email</label>
								</div>

								<div class="contact__form-group">      
									<textarea class="contact__form-input contact__form-textarea" type="text" cols="40" rows="5" required></textarea>
									<span class="contact__form-highlight"></span>
									<span class="contact__form-bar"></span>
									<label class="contact__form-label">Message</label>
								</div>

								<input class="contact__form-submit" type="submit" value="Send">
								<!-- spam bot honeypot -->
								<input class="contact__form-honeypot" type="text" name="company" placeholder="honeypot for spam bots (leave empty)!">
							</form>
							<div class="contact__phone">
								<svg class="highlights__svg list-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 500"></svg>
								<span class="contact__phone-copy-container">
									<h3 class="contact__phone-subheader">Phone</h3>
									<a class="contact__phone-copy" href="tel:+15034107396">(503) 410-7396</a>
								</span>
							</div>
							<ul class="contact__social">
								<li class="contact__social-item contact__social-item-0">
									<a class="contact__social-media social-media" href="https://www.instagram.com/vesseldispensary/" rel="external"></a>
								</li>
								<li class="contact__social-item">
									<a class="contact__social-media social-media" href="https://www.facebook.com/Vessel-Portland-367316486805669/" rel="external"></a>
								</li>
							</ul>
						</section>

						<!-- footer -->
						<footer class="footer">
							<div class="footer__list-container">
								<ul class="footer__list">
									<li class="footer__item-header">
										<h4>Information<h4>
									</li>
									<li class="footer__item">
										<a class="footer__pop-up">FAQ</a>
									</li>
									<li class="footer__item">
										<a class="footer__pop-up">Vendors</a>
									</li>
									<li class="footer__item">
										<a class="footer__pop-up">Careers</a>
									</li>
								</ul>
								<ul class="footer__list">
									<li class="footer__item-header">
										<h4>Navigation</h4>
									</li>
									<li class="footer__item">
										<a class="footer__nav" href="#about">About</a>
									</li>
									<li class="footer__item">
										<a class="footer__nav" href="#store-menu">Menu</a>
									</li>
									<li class="footer__item">
										<a class="footer__nav" href="#location">Location</a>
									</li>
									<li class="footer__item">
										<a class="footer__nav" href="#contact">Contact</a>
									</li>
								</ul>
								<ul class="footer__list">
									<li class="footer__item-header">
										<h4>Contact</h4>
									</li>
									<li class="footer__item">
										<a href="tel:+15034107396">(503) 410-7396</a>
									</li>
									<li class="footer__item">
										<a>vesseldispensary@gmail.com</a>
									</li>
								</ul>
							</div>
							<p class="footer__copyright">&copy;Vessel 2017 // Website by <a class="footer__credit-link" href="http://www.jumastevens.com" rel="external">Juma Stevens</a></p>
						</footer>
						<div class="footer-shader"></div>

						<!-- image container -->
						<div class="image-container">
							<div class="image-container__image image-container__image-0"></div>
							
							<div class="image-container__image image-container__image-1"></div>
							
							<div class="image-container__image image-container__image-2"></div>
						</div>
						<!-- section content background -->
						<div class="section-background">
						</div>
					</div>
				</div>
			</div>

			<!-- pop-up -->
			<div class="pop-up">
				<article class="pop-up__article pop-up__faq">
					<h4 class="pop-up__article-header">FAQ</h4>
					<ul class="pop-up__article-list">
						<li class="pop-up__article-item">
							<h5 class="pop-up__article-subheader">How old do I have to be to purchase cannabis products?</h5>
							<p class="pop-up__article-copy">You must 21 or older to purchase cannabis products recreationally in the state of Oregon.</p>
						</li>
						<li class="pop-up__article-item">
							<h5 class="pop-up__article-subheader">What form of identification do I need?</h5>
							<p class="pop-up__article-copy">To enter our shop you must provide a state issued Driver's license, Passport, or birth certificate.</p>
						</li>
					</ul>
				</article>
				
				<article class="pop-up__article pop-up__vendors">
					<h4 class="pop-up__article-header">Vendors</h4>
					<p class="pop-up__article-copy">Please email for an appointment! We are not currently working with any new vendors but you are more than welcome to email. We get a lot of emails weekly, so we will get back to you at our earliest convenience.</p>
				</article>

				<article class="pop-up__article pop-up__careers">
					<h4 class="pop-up__article-header">Careers</h4>
					<p class="pop-up__article-copy">We are not currently hiring; however, resumes with industry experience will be first and foremost.</p>
				</article>
			</div>
		</div>
		





		<!-- NO JAVASCRIPT -->
		<noscript>
		</noscript>
		<!-- SCRIPT(S) -->
		<script type="text/javascript" src="../js/script.min.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1rxRhw9pDoDORsZcYPDIwnro83KfKFAI&callback=initMap"></script>
	</body>
</html>