// colors
$primary-color: rgb(136, 176, 75)
$white-color: rgb(255, 255, 255)
$black-color: rgb(34, 34, 34)
$grey-color: rgb(189, 195, 199) //temp

// font
$primary-font: 'Montserrat', sans-serif
$secondary-font: 'Crimson Text', serif

// transition durations
$trans-dur: 500ms

// media queries
$medium-width: 800px

// menu border width
$menu-border-width: 50px