@import '../config'

.menu-open .menu
	transform: translateX(100%)
	transition: transform 500ms ease

.menu-open .menu-toggle
	&__line-0
		width: 100% !important
		transform: translate(0, 8px) rotate(135deg)
	&__line-1
		width: 0 !important
		transform: translate(-10px, 0) rotate(0)
	&__line-2
		transform: translate(0, -8px) rotate(45deg)