@import '../config'

.menu-close .menu
	transform: translateX(0)
	transition: transform 300ms ease-out 200ms
	+mq-split
		transform: translateX($menu-border-width)

	&-nav__link,
	&-social__link,
	&-credit__copy
		visibility: hidden
		transition: transform 200ms ease-in, visibility 0ms 200ms

.menu-close .menu-toggle--left
	transition: transform 300ms ease-out 200ms
	+mq-split
		transition: transform 100ms ease-out 400ms

.menu-close .menu-color
	+mq-split
		visibility: hidden
		transform: translateX(0)
		transition: transform 200ms ease-in, visibility 0ms 200ms