@import '../config'

=nav-active
	+medium
		z-index: 21
		opacity: 1
		transform: translateY(-20%)

// active section	
.nav-about .about,
.nav-highlights .highlights,
.nav-store-menu .store-menu,
.nav-location .location,
.nav-contact .contact,
.nav-footer .contact
	+nav-active

// active section (footer)
.nav-footer .footer
	+medium
		z-index: 22
		transform: translateY(-100%)

// active section indicator
.nav-about .nav__indicator-0,
.nav-highlights .nav__indicator-1,
.nav-store-menu .nav__indicator-2,
.nav-location .nav__indicator-3,
.nav-contact .nav__indicator-4,
.nav-footer .nav__indicator-5
	+medium
		background: $primary-color

// active image
.nav-about .image-container__image-0,
.nav-highlights .image-container__image-0,
.nav-store-menu .image-container__image-1,
.nav-location .image-container__image-2,
.nav-contact .image-container__image-3,
.nav-footer .image-container__image-3
	+medium
		z-index: 12

// buttons
.nav-about .nav__button-up,
.nav-footer .nav__button-down
	+medium
		opacity: 0
		pointer-events: none
.nav-about .nav__button-arrow-up,
.nav-footer .nav__button-arrow-down
	+medium
		opacity: 0