@import '../config'

.about
	&__content
		max-width: 450px
		margin: 60px 20px
		+medium
			margin: 0 20px
	&__copy
		margin-top: 30px
		font-family: $secondary-font
		color: $black-color
		line-height: 1.2
		+medium
			margin-top: 40px
			line-height: 1.4