@import '../config'

.contact

	
	&__form
		max-width: 450px
		margin: 0 20px
		
		&-group
			position: relative
			margin-bottom: 45px

		&-input
			font-family: $secondary-font
			font-size: 1rem
			padding: 10px 10px 10px 5px
			display: block
			width: 300px
			border: none
			border-bottom: 2px solid $black-color

			&:focus
				outline: none

		&-textarea
			resize: none

		&-submit
			width: 100%
			padding: 5px 5px
			background: $primary-color
			border: none
			font-family: $secondary-font
			font-size: 1rem
			color: $white-color
			
		&-honeypot // spam bot honeypot
			display: none !important
			visibility: hidden !important
			opacity: 0 !important
			z-index: -9999 !important
			position: fixed !important
			top: -100vh !important
			left: -100vh !important
			pointer-events: none !important

		&-label
			color: $black-color
			font-family: $secondary-font
			font-size: 1rem
			font-weight: normal
			position: absolute
			pointer-events: none
			left: 5px
			top: 10px
			transition: 0.2s ease all

		&-input:focus ~ .contact__form-label,
		&-input:valid ~ .contact__form-label
			top: -20px
			font-size: 14px
			color: $primary-color

		&-bar
			position: relative
			display: block
			width: 300px

			&:before,
			&:after
				content: ''
				height: 2px 
				width: 0
				bottom: 0
				position: absolute
				background: $primary-color
				transition: 0.2s ease all 
			&:before
				left: 50%
			&:after
				right: 50%

		&-input:focus ~ .contact__form-bar:before,
		&-input:focus ~ .contact__form-bar:after,
		&-input:valid ~ .contact__form-bar:before,
		&-input:valid ~ .contact__form-bar:after
			width: 50%

		&-highlights
			position: absolute
			height: 60%
			width: 100px
			top: 25%
			left: 0
			pointer-events: none
			opacity: 0.5

		&-input:focus ~ .contact__form-highlights
			animation: input_highlighter 0.3s ease			

@keyframes input_highlighter
	from 
		background: $primary-color
	to
		width: 0
		background: transparent