@import '../config'

.highlights
	&__content
		margin: 40px 20px 60px 20px
		+mq-split
			margin: 0 20px
	
	&__header
		margin-bottom: -10px
		font-family: $primary-font
		font-size: 1.4rem
		color: $primary-color
		text-transform: uppercase
		text-align: center
		+mq-split
			font-size: 1.7rem
	&__item
		margin: 40px 0
		border: 2px solid $white-color
		background: $white-color
		box-shadow: -3px 5px 10px rgba(34, 34, 34, 0.3)
		display: flex
		align-items: flex-start
		+mq-split
			margin: 50px 0

	&__copy
		max-width: 380px
		font-family: $secondary-font
		font-size: 1rem
		color: $black-color
		line-height: 1.2
		+mq-split
			line-height: 1.4
