@import '../config'

.menu
	position: fixed
	z-index: 100
	top: 0
	left: -100%
	width: 100vw
	height: 100vh
	background: $white-color
	font-family: $secondary-font
	font-size: 2rem
	display: flex
	flex-direction: column
	justify-content: center
	transition: transform 250ms ease-out
	+medium
		font-size: 3rem
		transform: translateX($menu-border-width)
	&-toggle--top
		transform: translate(0, 0)
		+medium
			transform: translate(0, -80px)
	&-toggle--left
		transform: translate(-$menu-border-width/2 - 20px, -50%)
		+medium
			transform: translate(-50%, -50%)

.menu-nav
	margin-left: 16vw
	&__item
		margin: 5px 0
		overflow: hidden
		+medium
			margin: 10px 0
	&__link
		position: relative
		display: inline-block
		cursor: pointer
		transform: translateY(100%)
		&:hover
			color: $primary-color



.menu-social
	margin: 25px 0 0 16vw
	display: flex
	+medium
		margin: 40px 0 0 16vw
	&__item
		margin-right: 10px
		overflow: hidden
	&__link
		display: block
		transform: translateY(100%)

.menu-credit
	position: fixed
	left: 0
	bottom: 0
	margin: 0 0 10px 16vw
	overflow: hidden
	+medium
		margin: 0 0 20px 16vw
	&__copy
		display: block
		transform: translateY(100%)
		font-size: 1rem