@import '../config'

.nav
	position: fixed
	z-index: -1
	visibility: hidden
	+medium
		top: 50%
		left: calc(50% + #{$menu-border-width})
		width: 40px
		height: 200px
		visibility: initial
		opacity: 0
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		transform: translate(-50%, -50%)
		transition: opacity 250ms ease-in 500ms

	&__button
		+medium
			width: 35px
			height: 35px
			border-radius: 25px
			background: $primary-color
			display: flex
			justify-content: center
			align-items: center
			transition: opacity 250ms ease
		&-arrow
			+medium
				width: 16px
				height: 16px
				fill: $white-color
				pointer-events: none
				transform: translateY(1px)
				transition: opacity 1000ms ease
			&-up
				+medium
					transform: translateY(-1px)

	&__indicator-container
		+medium
			width: 20px
			height: 50%
			padding: 5px 0
			border-top-left-radius: 25px
			border-top-right-radius: 25px
			border-bottom-left-radius: 25px
			border-bottom-right-radius: 25px
			background: $white-color
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center

	&__indicator
		+medium
			width: 10px
			height: 10px
			border-radius: 25px
			background: $grey-color
			transition: background 500ms ease

