@import '../config'

.section-background
	display: none
	+medium
		position: fixed
		z-index: 10
		top: 0
		right: 0
		width: calc(50vw - #{$menu-border-width})
		height: 100vh
		background: $white-color
		display: initial
		visibility: hidden
		transition: visibility 0ms ease-in 500ms