@import '../config'

.verify
	position: fixed
	top: 0
	left: 0
	z-index: 1000
	width: 100vw
	height: 100vh
	background: $white-color
	transition: transform 500ms ease-in, visibility 0ms 500ms
	+medium
		width: 50vw

	&__logo
		margin-bottom: 15px
		//display: none

	&__header
		height: 50%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		font-family: $primary-font
		font-size: 2.2rem
		color: $primary-color
		text-transform: uppercase
		transition: opacity 200ms ease
		+medium
			font-size: 3rem
		&-copy
			font-size: 0.5rem
			&--color
				color: $black-color


	&__subtext-container
		height: 20%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		font-family: $secondary-font
		font-size: 1rem
		transition: opacity 200ms ease

	&__button-container
		margin-top: 15px
		transition: opacity 200ms ease

	&__button-1
		display: none
		margin-right: 20px